[Unit]
Description=Launch the Genesi-Update systray applet
After=graphical-session.target

[Service]
ExecStart=genesi-update --tray
Restart=on-failure

[Install]
WantedBy=graphical-session.target
